.cabecalho .container {
    background-color: var(--cabecalho-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
}