.principal__titulo {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 2rem 0 1rem 1.3rem;
}

@media screen and (min-width: 1024px) {
    .principal {
        grid-column: 2;
    }

    .principal__titulo {
        font-size: 2rem;
        margin: 3rem 0 1rem;
    }
}