@import url('cabecalho-header.css');
@import url('principal-main.css');
@import url('video-destaque-section.css');
@import url('componentes/cartao.css');

:root {
    --fonte-padrao: 'Open Sans', sans-serif;

    --cabecalho-color: #15191C;
    --cartao-color: #2C343A;
    --pagina-color: #1D232A;
    --texto-cinza-claro: #95999C;
    --branco: #FFFFFF;
    --link-color: #0480DC;  
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--pagina-color);
    color: var(--branco);
}